/* Custom style */

.entire-screen {
    width: 100%;
    /* 70vh height combined with hom-blocak 30vh margin-top : full screen */
    height:70vh;
}

.home-block {
    margin-top: 30vh;
}

h2 {
    margin-bottom: 3rem;
}

.project-wrapper {
    margin-bottom: 3rem;
}


article {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

box {
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.svg-article {
    height: 6rem;
    width:  6rem;
}

.img-skills {
    height: 5rem;
    width:  5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-contact {
    height: 5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}